body {
  background-color: powderblue;
  margin-top: 20px;
  margin-left: 50px;
  margin-right: 50px;
}

#pscst{ /*VIRSRAKSTS*/
  color: black;
  text-align: center;
  font-size: 200%;
  line-height: normal;
}

#psid{ /*servisa id numurs*/
  color:black;
  text-align: right;
}






/*paraugi*/
h1 {
  color: blue;
  font-family: verdana;
  font-size: 300%;
}
p  {
  color: red;
  font-family: courier;
  font-size: 160%;
}

#p01 {
  color: blue;
  font-size: 200%
  font-family: courier;
  border: 1px solid pink; /*linijas biezums*/
  padding: 20px; /*vertikala atstarpe starp tekstu vai tekstu un liniju*/
}
#p02 {
  color: green;
  font-size: 100%
  font-family: verdana;
  margin-left: 50px; /*atstarpe no lapas malam*/
}
p.error {
  color: purple;
  /*commits strada ? */
}
