body {
  background-color: powderblue;

}
hr{
  border-width: 2px;
  border-color: black;
  margin-left: auto;
  margin-right: auto;
}

#plogo{ /*logo*/
  text-align: left;
  margin-left: -65px;
  margin-top: 10px;
}

#pscst{ /*VIRSRAKSTS*/
  color: black;
  text-align: center;
  font-size: 180%;
  line-height: 30px;
  margin-right: -100px;
  margin-top: 10px;
}

#psid{ /*servisa id numurs*/
  color:black;
  text-align: right;
  margin-right: -50px;
  margin-top: 10px;
}

#pbq{ /*sviitrkods*/
  color:black;
  text-align: right;
  line-height: -1px;
  font-size: 80%;
}
#pki{
  text-align: left;
  color:black;
  font-size: 60%;
}
#pri{
  color:black;
  text-align: left;
  margin-left: 350px;
  font-size: 60%;
}
#problemas{
  color:black;
  font-size: 60%;
}
#problemas2{
  color:black;
  font-size: 60%;
  margin-left: 200px;
}
#stavoklis{
  color:black;
  font-size: 60%;
  margin-right: 300px;
}
#pien_dat{
  color:black;
  font-size: 60%;
  margin-left: 350px;
}

#cenas{
  text-align: center;
  font-size: 60%;
}
#detalas{
  text-align: left;
  font-size: 60%;
}
#summa{
  text-align: right;
  font-size: 60%;
}
#piezimes{
  color:black;
  font-size: 60%;
  padding-top: 45px;
}
#serv_kom{
  color:black;
  font-size: 60%;
  margin-right:330px;
}
#bbk{
  color:black;
  font-size: 60%;
  text-align: left;
  margin-left:450px;
  margin-right: -20px;
}
#pbq2{ /*sviitrkods*/
  color:black;
  margin-left: 230px;
  line-height: -1px;
  font-size: 80%;
}
#noteikumi{
  color:black;
  font-size: 60%;
  margin-right:130px;
}
#pqr{ /*QR kods*/
  color:black;
  text-align: right;
  line-height: -1px;
  font-size: 50%;
}
#piekrisana{
  color:black;
  font-size: 60%;
}
#atd_dat{
  color:black;
  font-size: 60%;
  margin-left: 380px;
}
#paraksts{
  color:black;
  font-size: 60%;
}
#nor{
  color:black;
  font-size: 60%;
  text-align: center;
  padding-bottom: -20px;
}

/*paraugi*/
h1 {
  color: blue;
  font-family: verdana;
  font-size: 300%;
}

#p01 {
  color: blue;
  font-size: 200%
  font-family: courier;
  border: 1px solid pink; /*linijas biezums*/
  padding: 20px; /*vertikala atstarpe starp tekstu vai tekstu un liniju*/
}
#p02 {
  color: green;
  font-size: 100%
  font-family: verdana;
  margin-left: 50px; /*atstarpe no lapas malam*/
}
p.error {
  color: purple;
  /*commits strada ? */
}
