body {
  background-color: powderblue;

}
hr{
  border-width: 2px;
  border-color: black;
  margin-left: auto;
  margin-right: auto;
}

#plogo{ /*logo*/
  text-align: left;
  margin-left: -65px;
  margin-top: 10px;
}

#pscst{ /*VIRSRAKSTS*/
  color: black;
  text-align: center;
  font-size: 180%;
  line-height: 30px;
  margin-right: -100px;
  margin-top: 10px;
}

#psid{ /*servisa id numurs*/
  color:black;
  text-align: right;
  margin-right: -50px;
  margin-top: 10px;
}

#pbq{ /*sviitrkods*/
  color:black;
  text-align: right;
  line-height: -1px;
  font-size: 80%;
}
#pki{
  text-align: left;
  color:black;
  font-size: 60%;
}
#pri{
  color:black;
  text-align: left;
  margin-left: 350px;
  font-size: 60%;
}
#problemas{
  color:black;
  font-size: 60%;
}
#problemas2{
  color:black;
  font-size: 60%;
  margin-left: 200px;
}




/*paraugi*/
h1 {
  color: blue;
  font-family: verdana;
  font-size: 300%;
}

#p01 {
  color: blue;
  font-size: 200%
  font-family: courier;
  border: 1px solid pink; /*linijas biezums*/
  padding: 20px; /*vertikala atstarpe starp tekstu vai tekstu un liniju*/
}
#p02 {
  color: green;
  font-size: 100%
  font-family: verdana;
  margin-left: 50px; /*atstarpe no lapas malam*/
}
p.error {
  color: purple;
  /*commits strada ? */
}
